html, body {
  background-color: black !important;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 100px !important; 
}

.text{
    text-align: center;
    font-size: 28px;
    color: #ed145b;
}